<div class="col-md-8 offset-md-2">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Disfruta de los animales más exóticos de nuestro zoológico :)</p>
        <div class="d-flex justify-content-between align-items-center">
            <a class="col-md-3 btn btn-primary" routerLink="/animals" role="button">Ver Animales</a>
            <a class="col-md-3 btn btn-success" routerLink="/keepers" role="button">Ver Cuidadores</a>
            <a class="col-md-3 btn btn-warning" routerLink="/contact" role="button">Contáctanos</a>
        </div>
    </div>
</div>
